
.graph-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .graph-row {
        display: flex;
        flex-wrap: wrap;


        .graph-col {
            flex: 0 0 auto;
            border: thin solid #eee;
            white-space: nowrap;

            text-align: center;
            vertical-align: center;

            &:first-child {
                border-left: none;
                font-size: .8rem;
                padding-right: .5rem;
            }
        }

        &:last-child {
            .graph-col {
                min-height: 5rem;
                padding-top: 1rem;

                div {
                    transform: rotate(90deg);

                }
            }
        }
    }
}
