.graph-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.graph-container .graph-row {
  display: flex;
  flex-wrap: wrap;
}
.graph-container .graph-row .graph-col {
  flex: 0 0 auto;
  border: thin solid rgb(192, 190, 190);
  white-space: nowrap;
  text-align: center;
  vertical-align: center;
}

.graph-container .graph-row .color {
  background-color: rgb(236, 226, 226);
}

.graph-container .graph-row .graph-col:first-child {
  border-left: none;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.graph-container .graph-row:last-child .graph-col {
  min-height: 5rem;
  padding-top: 2.5rem;
}
.graph-container .graph-row:last-child .graph-col div {
  transform: rotate(270deg);
}
